# Ignoriere kompilierte Binärdateien
*.hex
*.elf

# Ignoriere temporäre Dateien und Verzeichnisse
*.swp
*~
.DS_Store

# Ignoriere den Arduino-Build-Ordner
/build/
.vs/

# Ignoriere IDE-spezifische Dateien
.vscode/
.idea/

*.lock
*.vsidx
*.sqlite
*.json
*.wsuo
